NODE_ENV=development
PORT=3000

ACCESS_TOKEN_SECRET=<your-access-token-secret>
REFRESH_TOKEN_SECRET=<your-refresh-token-secret>
DB_USER=postgres
DB_HOST=localhost
DB_NAME=rotasegura
DB_PASSWORD=your_database_password
DB_PORT=2525

CLIENT_URL=http://localhost:5173
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=your_email@example.com
EMAIL_PASSWORD=your_email_password
EMAIL_FROM=RotaSegura <your_email@example.com>
